
<div style="background:#f0f0f0">
   <div class="m_-4348008596964808631mj-container" style="background-color:#f0f0f0">
      <div style="margin:0px auto;max-width:600px;background:#f0f0f0">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f0f0f0" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:20px 0px">
                     <div class="m_-4348008596964808631mj-column-per-100 m_-4348008596964808631outlook-group-fix" style="vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle" width="100%" border="0">
                           <tbody></tbody>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#fff">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:20px 0px">
                     <div class="m_-4348008596964808631mj-column-per-100 m_-4348008596964808631outlook-group-fix" style="vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle" width="100%" border="0">
                           <tbody>
                              <tr>
                                 <td style="word-wrap:break-word;font-size:0px;padding:10px 25px" align="left">
                                    <div style="color:#2D2D2D;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;line-height:26px;text-align:left">
                                       <h1 style="font-size:24px;margin:0 0 10px 0;text-align:center">Welcome to Toys And Boxes</h1>
                                       <p style="margin:0 0 15px 0">
                                       </p>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#f0f0f0">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f0f0f0" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:5px 0px"></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#fff">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:20px 0px">
                     <div class="m_-4348008596964808631mj-column-per-100 m_-4348008596964808631outlook-group-fix" style="vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle" width="100%" border="0">
                           <tbody>
                              <tr>
                                 <td style="word-wrap:break-word;font-size:0px;padding:10px 25px" align="left">
                                    <div style="color:#2D2D2D;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;line-height:26px;text-align:left">
                                       <h2 style="font-size:19px;margin:0 0 10px 0;text-align:center">Collaborate with colleagues and friends</h2>
                                       <p style="margin:0 0 15px 0">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
                                       </p>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="word-wrap:break-word;font-size:0px;padding:10px 25px" align="center">
                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate" align="center" border="0">
                                       <tbody>
                                          <tr>
                                             <td style="border-style: solid; border-color:#2D2D2D; border-width: 3px; color:#ffffff;padding:15px 25px" align="center" valign="middle" bgcolor="#ffffff"><a href="#" style="text-decoration:none;background:#ffffff;color:#2D2D2D;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:120%;text-transform:uppercase;margin:0px" target="_blank">Call to Action Button</a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#f0f0f0">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f0f0f0" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:5px 0px"></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#fff">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:20px 0px">
                     <div class="m_-4348008596964808631mj-column-per-100 m_-4348008596964808631outlook-group-fix" style="vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle" width="100%" border="0">
                           <tbody>
                              <tr>
                                 <td style="word-wrap:break-word;font-size:0px;padding:10px 25px" align="left">
                                    <div style="color:#2D2D2D;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;line-height:26px;text-align:left">
                                       <h2 style="font-size:19px;margin:0 0 10px 0;text-align:center">Need help?</h2>
                                       <p style="margin:0 0 15px 0">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou
                                       </p>
                                       <p style="margin:0 0 15px 0">You are also welcome to contact us at
                                          <a href="mailto:toysandboxes@gmail.com" target="_blank">toysandboxes@gmail.com</a>
                                       </p>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#f0f0f0">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f0f0f0" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:10px 0px 0px 0px">
                     <div class="m_-4348008596964808631mj-column-per-100 m_-4348008596964808631outlook-group-fix" style="vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:middle" width="100%" border="0">
                           <tbody></tbody>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:0px auto;max-width:600px;background:#f0f0f0">
         <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#f0f0f0" align="center" border="0">
            <tbody>
               <tr>
                  <td style="text-align:center;vertical-align:top;border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;direction:ltr;font-size:0px;padding:0px;padding-bottom:15px"></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

