@import url(//db.onlinewebfonts.com/c/9fd821abcaa52efaf6db79eec0d6add7?family=BodoniURW);
@font-face {font-family: "BodoniURW"; src: url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.eot"); src: url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.woff") format("woff"), url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9fd821abcaa52efaf6db79eec0d6add7.svg#BodoniURW") format("svg"); }

h1 {
  font-size: 48px;
  margin-top: 80px;
  text-align: center;
  color: #202346;
  font-family: bodoniURW;
}
p {

}

h2{
  color: #202346;
}
