<%= content_for(:navbar_class, "navbar-event") %>


<div class="event-banner">
  <div class="banner-content text-center">


    <p><br><br><br></p>
    <p>In order to make our range of products better known, we organize tupperware parties at home. Interrested?
    Contact us.<a style = "color: white" href="tel:+32 470 07 80 80"><div></div><p>+32 470 07 80 80</p></a>
      <a style = "color: white" href="mailto:toysandboxes@gmail.com"><div></div><p>toysandboxes@gmail.com</p></a>
    </p>

<p>
<br><br><br><br><br><br>
</p>
  </div>

</div>
