
<!-- app/views/pages/home.html.erb -->
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Toys and Boxes</h1>
    <p>So much more than a toy shop</p>




    <div class= "container-button-our-products">
      <%= link_to products_path do %>

      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" />
        </svg>
        <div class="text">Our products</div>
      </div>

      <% end %>
    </div>


  </div>
</div>

