
<!-- app/views/pages/home.html.erb -->
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Toys and Boxes</h1>
    <p>So much more than a toy shop</p>
    <%= link_to "Let's play!", products_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>

