.card-category {
  background-color: #FFFFFF;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-repeat: no-repeat;
  font-size: 24px;
  font-weight: bold;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-price{
  position:absolute;
  background-color: white;
  border-style: solid;
  border-color: #F4F4F4;
  border-width: 5px;
  padding: 5px;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 20px;
  margin-left: -10px;
}

.card-category-background-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  length: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  //font-weight: bold;
  color: transparent;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 120px;
  margin-top: 80px;
  margin-right: 120px;
  margin-bottom: 120px;
}

.card-category-button {
  background-color: white;
  border-style: solid;
  border-color: #2D2D2D;
  color:#2D2D2D;
  border-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  position:absolute;
  margin-top: -30px;
}
a { color: inherit; }
a {
  &:hover{
    color: inherit;
  }
}

.card-category-button {
  display: none;
  &:hover {
    background-color: #2D2D2D;
    color: white;
  }
}

.card-super-container {
  &:hover {
    .card-category-button{
      display: block;
    }
  }
}

.card-container{
  &:hover {
    opacity: 0.8;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





